.worditudeLetterFence__94rB {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.worditudeWordDisplayRow__94rB.history .worditudeLetterFence__94rB[data-state="correct"] {
    background-color: #1F1F20;
    color: #ADBA89;
}

.worditudeWordDisplayRow__94rB.history .worditudeLetterFence__94rB[data-state="present"] {
    background-color: #5D6744;
    color: #ADBA89;
}

.worditudeWordDisplayRow__94rB.history .worditudeLetterFence__94rB[data-state="incorrect"] {
    background-color: #1F1F20;
    color: #ADBA89;
    opacity: 0.25;
}

.worditudeLetterFence__94rB {
    border: 7px double #1F1F20;
}

.worditudeLetterFence__94rB {
    background-color: transparent;
}

.worditudeWordDisplayRow__94rB.animate .worditudeLetterFence__94rB[data-state="correct"] {
    animation-name: revealCorrect;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.worditudeWordDisplayRow__94rB.animate .worditudeLetterFence__94rB[data-state="incorrect"] {
    animation-name: revealIncorrect;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.worditudeWordDisplayRow__94rB.animate .worditudeLetterFence__94rB[data-state="present"] {
    animation-name: revealPresent;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.worditutdeLetter__94rB {
    font-family: "Broken Console";
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.worditudeLetterFence__94rB {
    will-change: transform;
}

.worditudeLetterFence__94rB.pop {
    animation-name: pop;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
}

.worditudeWordDisplayRow__94rB.animate .worditudeLetterFence__94rB:nth-child(2) {
    animation-delay: 200ms;
}

.worditudeWordDisplayRow__94rB.animate .worditudeLetterFence__94rB:nth-child(3) {
    animation-delay: 400ms;
}

.worditudeWordDisplayRow__94rB.animate .worditudeLetterFence__94rB:nth-child(4) {
    animation-delay: 600ms;
}

.worditudeWordDisplayRow__94rB.animate .worditudeLetterFence__94rB:nth-child(5) {
    animation-delay: 800ms;
}

.worditudeWordDisplayRow__94rB.shake {
    animation-name: shake;
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-iteration-count: 2;
}

@keyframes revealCorrect {
    0% {
        color: #1F1F20;
        transform: rotate3d(1, 0, 0, 45deg) scaleY(1);
        background-color: #ADBA89;
    }

    /* 45% {
        color: #1F1F20;
        transform: rotate3d(1, 0, 0, 90deg) scaleY(0);
        background-color: #ADBA89;
    } */

    55% {
        color: #ADBA89;
        transform: rotate3d(1, 0, 0, 90deg) scaleY(0);
        background-color: #1F1F20;
    }

    100% {
        color: #ADBA89;
        background-color: #1F1F20;
        transform: rotate3d(1, 0, 0, 0deg) scaleY(1);
    }

}

@keyframes revealIncorrect {
    0% {
        color: #1F1F20;
        transform: rotate3d(1, 0, 0, 45deg) scaleY(1);
        background-color: #ADBA89;
    }

    /* 45% {
        color: #1F1F20;
        transform: rotate3d(1, 0, 0, 90deg) scaleY(0);
        background-color: #ADBA89;
    } */

    55% {
        color: #ADBA89;
        transform: rotate3d(1, 0, 0, 90deg) scaleY(0);
        background-color: #1F1F20;
    }

    100% {
        color: #ADBA89;
        background-color: #1F1F20;
        transform: rotate3d(1, 0, 0, 0deg) scaleY(1);
        opacity: 0.25;
    }

}

@keyframes revealPresent {
    0% {
        color: #1F1F20;
        transform: rotate3d(1, 0, 0, 45deg) scaleY(1);
        background-color: #ADBA89;
    }

    /* 45% {
        color: #1F1F20;
        transform: rotate3d(1, 0, 0, 90deg) scaleY(0);
        background-color: #ADBA89;
    } */

    55% {
        color: #ADBA89;
        transform: rotate3d(1, 0, 0, 90deg) scaleY(0);
        background-color: #5D6744;
    }

    100% {
        color: #ADBA89;
        background-color: #5D6744;
        transform: rotate3d(1, 0, 0, 0deg) scaleY(1);
    }

}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }
    50% {
        transform: translate(-3px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}